* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --colortitulo: #0D47A1;
    --colortexto: #000;
    --colorboton: #fff;
    --fondobarra: #292b2c;
    --colorsubtitulo: #4285F4;
}

.contenedor {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}


/*CABECERA DE LA PAGINA

HEADER
*/

.header {
    width: 85%;
    padding: 20px;
}

.imgHeader {
    width: 100%;
}


/*navegacion*/

.barra-navegacion {
    width: 100%;
    height: 55px;
    background-color: var(--fondobarra);
    margin-bottom: 25px;
}

.contenedor-navegacion {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 55px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 270px;
    height: 25px;
    animation: anim 2.3s ease;
}

@keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.navegacion {
    height: 55px;
    /*flex-grow: 1; ocupa todo el ancho que pueda*/
    flex: 0 0 50%;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.item {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    flex: 0 0 25%;
    position: relative;
}

.item::before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 3px;
    bottom: 3px;
    background-color: white;
    left: 50%;
    transition: width, .5s;
}

.item:hover::before {
    width: 100%;
    left: 0%;
}

.item a {
    color: var(--colorboton);
    text-decoration: none;
    font-size: 1.3rem;
}